<div ng-controller = "MainPageController as ctrl">
	<div layout = "row" >
		<md-menu>
			<md-menu-content width = "4">
				<md-menu-item>
					<md-menu >
						<md-button ng-click = "ctrl.openmenu($mdMenu, $event)">Cell phone</md-button>
						<md-menu-content width = "4">
							<md-menu-item><md-button>Apple</md-button></md-menu-item>
							<md-menu-item><md-button>Samsung</md-button></md-menu-item>
							<md-menu-item><md-button>Nokia</md-button></md-menu-item>
						</md-menu-content>
					</md-menu>
				</md-menu-item>
				<md-menu-item><md-button>Cell phone</md-button></md-menu-item>
				<md-menu-item><md-button>Cell phone</md-button></md-menu-item>
				<md-menu-item><md-button>Cell phone</md-button></md-menu-item>
				<md-menu-item><md-button>Cell phone</md-button></md-menu-item>
				<md-menu-item><md-button>Cell phone</md-button></md-menu-item>
				<md-menu-item><md-button>Cell phone</md-button></md-menu-item>
				<md-menu-item><md-button>Cell phone</md-button></md-menu-item>
				<md-menu-item><md-button>Cell phone</md-button></md-menu-item>
				<md-menu-item><md-button>Cell phone</md-button></md-menu-item>
				<md-menu-item><md-button>Cell phone</md-button></md-menu-item>
				<md-menu-item><md-button>Cell phone</md-button></md-menu-item>
			</md-menu-content>
		</md-menu>
	</div>
</div>